---
import Layout from '../../layouts/Layout.astro';
import FloatingNav from '../../lib/components/FloatingNav.astro';
---

<Layout title="TAC. - Components">
   <section class="px-2 py-48 md:px-0">
     
         <FloatingNav />

   </section>
</Layout>

