---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="TAC. - Components">
   <section class="px-2 py-48 md:px-0">
      <div class="items-center px-8 mx-auto xl:px-5">
      <div class="flex flex-wrap items-center sm:-mx-3">
         <div class="w-full md:px-3">
            <div class="w-full mx-auto pb-6 max-w-lg sm:pr-5 lg:pr-0 md:pb-0">
            <h1 class="font-extrabold tracking-tight dark:text-white text-gray-900">
               <span class="block text-4xl xl:inline sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">Tailwind + AlpineJS</span>
               <span class="block text-3xl text-teal-500 xl:inline sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl">
                  Components
               </span>
            </h1>
            <ul class="my-4">
               <h3 class="text-lg text-white underline">List of components:</h3>
               <li class="text-white">
                  <a href="/components/floating-nav">Floating Nav</a>
               </li>
            </ul>
         </div>
      </div>
      </div>
      </div>
   </section>
</Layout>

