---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
import DarkModeToggle from "../../components/DarkModeToggle.astro";
---
<section class="text-gray-700 w-full">
   <div class="flex">
      <div class="md:w-1/2 w-full">
         <img src="https://picsum.photos/seed/1693123725834/600/600" alt="">
      </div>
      <div class="md:w-1/2 w-full">
         <h2>Heading</h2>
         <p>Lorem</p>
      </div>
   </div>
</section>
